.container{
    display: flex;
    justify-content: center;
}

.btn_pesquisa {
    margin-top: 2%;
    width: 200px;
    font-weight: bold;
}

.div-flex-center{
    display: flex;
    justify-content: center;
}

.div-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-width{
    width: 150px;
    margin: 0 auto;
}

p{
    font-size: 2em;
    font-weight: bold;    
}

.lbl{
    font-size: 1.5em;
    margin: 0 auto;
    margin-bottom: 5%;
}